---
kind: Secret
apiVersion: v1
metadata:
  name: {{ postgresql_secret }}
stringData:
  database-user: {{ postgresql_username }}
  database-password: {{ postgresql_password }}
  database-name: {{ postgresql_database }}